
/* ### -- -- -- -- -- Special Moxeo ACP Styles -- -- -- -- -- ### */

/*

File: moxeo.css
Copyright 2009-2012 by wcfsolutions.com

*/

/* ### -- -- -- -- -- Miscellaneous -- -- -- -- -- ### */

.columnComment {
	width: 50%;
}

.dragable img {
	cursor: pointer !important;
}

/* ### -- -- -- -- -- Previews -- -- -- -- -- ### */

.columnArticleSectionPreview {
	width: 70%;
}

.columnArticleSectionPreview h3 {
	font-weight: bold;
}

.columnArticleSectionPreview .images {
	list-style: none;
	margin: 0;
	padding: 0;
}

.columnArticleSectionPreview .images .image {
	float: left;
	margin: 10px;
}

.columnArticleSectionPreview .image img {
	max-width: 200px;
	max-height: 200px;
}

/* ### -- -- -- -- -- EOF -- -- -- -- -- ### */
