
/* ### -- -- -- -- -- Special Moxeo ACP Styles -- -- -- -- -- ### */

/*

File: moxeo.css
Copyright 2009-2013 by wcfsolutions.com

*/

/* ### -- -- -- -- -- Miscellaneous -- -- -- -- -- ### */

.CodeMirror {
	height: 360px;
}

.CodeMirror .CodeMirror-linenumber {
	font-size: 1.25em;
}

.columnComment {
	max-width: 30%;
}

.dragable img, .dragable a, .dragable a * {
	cursor: pointer !important;
}

/* ### -- -- -- -- -- Previews -- -- -- -- -- ### */

#articleSectionList .messageBody h3 {
	font-weight: bold;
}

#articleSectionList .messageBody .images {
	list-style: none;
	margin: 0;
	padding: 0;
}

#articleSectionList .messageBody .images .image {
	float: left;
	margin: 10px;
}

#articleSectionList .messageBody .image img {
	max-width: 200px;
	max-height: 200px;
}

/* ### -- -- -- -- -- EOF -- -- -- -- -- ### */
